<img class="banner" src="assets/img/banner.png">
<!--Navbar-->
<mdb-navbar SideClass="navbar justify-content-center navbar-expand-lg navbar-dark indigo lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand"  href="/home">Accueil</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav  mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" href="/articles" mdbWavesEffect>Articles<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Appel aux témoins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Ressources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>À propos</a>
        </li>
      </ul>
       
      
      <div class="dropdown" mdbDropdown>


        <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
          mdbWavesEffect>
          <img src="../../../assets/img/fr.png" class="img-fluid" alt="Responsive image">   Français
        </button>
      
      
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#"> <img src="../../../assets/img/en.png" class="img-fluid" alt="Responsive image">Anglais</a>
          <a class="dropdown-item" href="#"> <img src="../../../assets/img/tahiti.png" class="img-fluid" alt="Responsive image">Tahitien</a>
        </div>
      </div>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->