.banner {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    display: block !important;
    max-width: 100%;
    height: auto;
    border-style: none;

}
