mat-grid-tile {
  background-color: #ffffff;
    border-left: 8px solid #7f7f84;
    margin-bottom: 10px;
    margin-left: 15px !important;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: box-shadow 0.2s;
}

mat-grid-tile:hover {
    cursor: pointer;
    box-shadow: 0 0 15px #0f6181;
}

